footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
  
.autores {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    gap: 60px;
}

.autores img {
    width: 60px;
    transition: transform 0.5s ease;
}

.autores img:hover {
    transform: scale(1.1);
}

  
.links-rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.links-rodape a, #devs {
    color: #881ac3;
    font-weight: bold;
    margin: 0px
}

.links-rodape a:hover {
    color: #C0C0C0;
    font-weight: bold;
}
